<div class="row">
  <div class="col-lg-3">

    <app-book-category></app-book-category>

  </div>
  <div class="col-lg-9">

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
          <a href="#">
            <img class="card-img-top img-responsive" [src]="book.imageUrl" height="250" width="100">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{book.name}}</a>
            </h4>
            <h5>{{book.unitPrice | currency: 'INR'}}</h5>
            <p class="card-text text-truncate">{{book.description}}</p>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary float-right">Add Cart</button>
          </div>
        </div>
      </div>
      <div *ngIf="books?.length == 0" class="col-md-12 alert alert-warning mt-1">
        No books found
      </div>
    </div>

  </div>
</div>

