<table border="1" class="table">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>
                <img [src]="book.imageUrl" height="50"/>
            </td>
            <td>{{book.name}}</td>
            <td>{{book.description}}</td>
            <td>{{book.unitPrice | currency: 'INR'}}</td>
        </tr>
    </tbody>
</table>