<div class="row">
    
    <div class="col-md-3">
        <!-- category component -->
        <app-book-category></app-book-category>
    </div>

    <div class="col-md-9">
        <!-- cart details  -->
        <div class="row">
            <div class="col-md-12">
                <div *ngIf="cartItems.length > 0">
                    <table class="table table-bordered">
                        <thead class="bg-dark text-light">
                            <tr>
                                <th width="20%">Product Image</th>
                                <th width="50%">Product Detail</th>
                                <th width="30%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cartItem of cartItems">
                                <td>
                                    <img [src]="cartItem.imageUrl" class="img-responsive" width="150" height="200" />
                                </td>
                                <td>
                                    <p>{{ cartItem.name }}</p>
                                    <p>{{ cartItem.unitPrice | currency: 'INR'}}</p>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-12">
                                             <p>Quantity: <span (click)="remove(cartItem)" class="float-right pointer text-danger"><i class="fas fa-trash-alt"></i></span> </p>
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="incrementQuantity(cartItem)" class="btn btn-primary btn-sm float-left">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            {{cartItem.quantity}}
                                        </div>
                                        <div class="col-md-4">
                                            <button (click)="decrementQuantity(cartItem)" class="btn btn-primary btn-sm float-right">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p>Subtotal: {{ cartItem.quantity * cartItem.unitPrice | currency: 'INR'}}</p>
                                        </div> 
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="font-weight-bold">
                                    <p>Total quantity: {{totalQuantity}}</p>
                                    <p>Shipping: FREE</p>
                                    <p>Total Price: {{ totalPrice | currency: 'INR' }}</p>
                                    <a routerLink="/checkout" class="btn btn-primary">Checkout</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div *ngIf="cartItems.length == 0" class="alert alert-warning" role="alert">
                    Your cart is empty
                </div>
            </div>
        </div>
    </div>
    
</div>